<nav class="nav__main">
	<ul class="nav__split">
		<% if(isAuthenticated) {%>
		<div class="nav__section">
			<li>
				<a href="#"><i class="bx bx-menu" id="nav__menu"></i></a>
			</li>
			<li>
				<a href="/dashboard"
					><i class="bx bxs-dashboard nav-icon"></i> Dashboard</a
				>
			</li>
			<li>
				<a href="#"><i class="bx bx-task nav-icon"></i> Tickets</a>
			</li>
		</div>
		<div class="nav__section">
			<li>
				<a href="/add-ticket"
					><i class="bx bx-plus nav__add-ticket"></i
				></a>
			</li>
			<li>
				<a href="#"><i class="bx bx-search"></i></a>
			</li>
			<li>
				<a href="#"><i class="bx bxs-bell"></i></a>
			</li>
			<li>
				<a href="#"><i class="bx bxs-user"></i></a>
			</li>
		</div>
		<% } else {%>
		<div class="nav__section">
			<a href=""><h3>TrackR</h3></a>
		</div>
		<div class="nav__section">
			<li><a href="/login">Log In</a></li>
			<li><a href="/signup">Sign Up</a></li>
		</div>
		<% } %>
	</ul>
</nav>
