<nav class="nav__main">
	<ul class="nav__split">
        <div class="nav__section">
            <li><a href="#"><i class='bx bx-menu' id="nav__menu"></i></a></li>
            <li><a href="/"><i class='bx bxs-dashboard nav-icon' ></i> Dashboard</a></li>
            <li><a href="#"><i class='bx bx-task nav-icon' ></i> Tickets</a></li>
        </div>
        <div class="nav__section">
            <li><a href="/add-ticket"><i class='bx bx-plus nav__add-ticket'></i></a></li>
            <li><a href="#"><i class='bx bx-search' ></i></a></li>
            <li><a href="#"><i class='bx bxs-bell' ></i></a></li>
		    <li><a href="#"><i class='bx bxs-user' ></i></a></li>
        </div>
	</ul>
</nav>
