<nav class="nav__main">
	<ul class="nav__split">
        <div class="nav__split-content">
            <li><a class="active" href="#home">Menu</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#">Tickets</a></li>
        </div>
        <div class="nav__split-content">
            <li><a href="#">Add</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Alerts</a></li>
		    <li><a href="#">Profile</a></li>
        </div>
	</ul>
</nav>
