<nav class="nav__main">
	<ul class="nav-links">
		<div class="nav-section">
			<h3 class="logo">Tasketeer</h3>
		</div>
		<div class="nav-section">
			<li><a class="<%= activePage === 'login' ? 'active' : '' %>" href="/login">Log In</a></li>
			<li><a class="<%= activePage === 'signup' ? 'active' : '' %>" href="/signup">Sign Up</a></li>
		</div>
	</ul>
</nav>
