<nav class="nav__side">
    <div class="nav__controls">
        <h2 class="logo"><a href="/">Tasketeer</a></h2>
        <ul class="nav__admin">
            <% if(isAdmin) {%>
                <li><a href="/admin"><i class='bx bx-shield-alt-2' ></i> Admin</a></li>
            <% } %>
                <li><a href="/dashboard"><i class='bx bxs-dashboard' ></i> Dashboard</a></li>
                <li><a href="/tasks"><i class='bx bx-task' ></i> Tasks</a></li>
                <li><a href="/profile"><i class='bx bx-user' ></i> Profile</a></li>
                <li><a href="/settings"><i class='bx bx-cog' ></i> Settings</a></li>
            </ul>
        
            <% if(isAuthenticated) {%>
            <div class="nav-controls">
                <form action="/logout" method="POST">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
                    <button class="btn btn-logout" type="submit">
                        Logout
                    </button>
                </form>
            </div>
            <% }%>
    </div>
</nav>
