<nav class="nav__side">
    <ul>
        <h3 class="nav__side-title">Collections</h3>
        <li><a href="/all-tickets">All Tickets</a></li>
        <li><a href="#">My Tickets</a></li>
        <li><a href="#">Urgent Tickets</a></li>
    </ul>
</nav>