<nav class="nav__side">
    <div class="nav__controls">
        <% if(isAdmin) {%>
            <ul class="nav__admin">
                <h3 class="nav__side-title">Admin</h3>
                <li><a href="/admin">Admin Panel</a></li>
            </ul>
            <% } %>
            <ul class="nav__collections">
                <li><a href="/dashboard"><i class='bx bxs-dashboard' ></i> Dashboard</a></li>
                <li><a href="/tasks"><i class='bx bx-task' ></i> Tasks</a></li>
            </ul>
        
            <% if(isAuthenticated) {%>
            <div class="nav-controls">
                <form action="/logout" method="POST">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
                    <button class="btn btn-logout" type="submit">
                        Logout
                    </button>
                </form>
            </div>
            <% }%>
    </div>
</nav>
