<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">

        <section class="container dashboard centered">
            <h2 class="dashboard__title">Dashboard</h2>
            <h1 class="dashboard__greeting">Hello, <%= user.username %></h1>
            <canvas id="myChart" width="200" height="100"></canvas>
        </section>
    </main>
<%- include("../includes/footer.ejs")%>
