@import "../variables.css";

.card {
  width: 100%;
  color: var(--txt-secondary);
  padding: 1.5rem 2rem;
  /* border-top: 2px solid var(--txt-primary); */
  margin: 1rem 0;
  border-radius: .4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  transition: all ease-in-out 350ms;
  cursor: pointer;
}

.card:hover {
  background-color: var(--highlight);
  border-color: var(--accent);
}

.card:hover .card-title {
  color: var(--accent);
}

.card-completed {
  background: #D1E7DD;
}

.card-completed:hover {
  /* border-top: 2px solid var(--color-green); */
  background: #dff7ec;
}

.card-completed:hover .card-title {
  color: var(--color-green);
}

.card-active {
  background: #fff1e1;
}

.card-active:hover {
  /* border-top: 2px solid var(--color-orange); */
  background: #fff6ec
}

.card-active:hover .card-title {
  color: var(--color-orange);
}

.card-hold {
  background: #F8D7DA;
}

.card-hold:hover {
  /* border-top: 2px solid var(--color-red); */
  background: #ffebed;
}

.card-hold:hover .card-title {
  color: var(--color-red);
}

.card-reviewing {
  background: #eeeeee;
}

.card-reviewing:hover {
  /* border-top: 2px solid var(--color-grey); */
  background: #f6f6f6
}

.card-reviewing:hover .card-title {
  color: var(--color-grey)
}

.card-title {
  color: var(--txt-primary);
  text-transform: capitalize;
  transition: all ease-in-out 350ms;
  margin-bottom: .75rem;
}

.card-description {
  overflow-wrap: break-word;
}

.card-date {
  font-size: .85rem;
  font-style: italic;
}
