<%- include("./includes/header.ejs")%>
</head>
<body>
    <%- include("./includes/navigation.ejs")%>
    <%- include("./includes/side-navigation.ejs")%>
    <main class="dashboard__wrapper">

        <section class="dashboard">
            <h2 class="dashboard__title">Dashboard</h2>
            <h1 class="dashboard__greeting">Hello, John Doe</h1>
            <!-- <div class="dashboard__controls">
                <a href="#" class="btn">Overview</a>
                <a href="#" class=" btn btn__bordered">Statistics</a>
            </div> -->
            <div class="dashboard__feed">
                <div class="card__ticket">
                    <div class="card__ticket-header">
                        <h3 class="card__ticket-title">Easy</h3>
                    </div>
                    <div class="card__tickets">
                        <ul class="tickets">
                            <li class="ticket">
                                <div class="ticket__status"></div>
                                <div class="ticket__info">
                                    <h4 class="ticket__info-title">Implement Dashboard</h4>
                                    <p class="ticket__info-date">Today: 1:34pm</p>
                                </div>
                            </li>
                            <li class="ticket">
                                <div class="ticket__status"></div>
                                <div class="ticket__info">
                                    <h4 class="ticket__info-title">Add authentication</h4>
                                    <p class="ticket__info-date">Today: 3:34pm</p>
                                </div>
                            </li>
                            <li class="ticket">
                                <div class="ticket__status"></div>
                                <div class="ticket__info">
                                    <h4 class="ticket__info-title">Finish TrackR</h4>
                                    <p class="ticket__info-date">6/23/2022</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card__ticket-footer">
                        <a href="#" class="card__ticket-link">Go to tickets</a>
                    </div>
                </div>

                <div class="card__ticket">
                    <div class="card__ticket-header">
                        <h3 class="card__ticket-title">Easy</h3>
                    </div>
                    <div class="card__tickets">
                        <ul class="tickets">
                            <li class="ticket">
                                <div class="ticket__status"></div>
                                <div class="ticket__info">
                                    <h4 class="ticket__info-title">Implement Dashboard</h4>
                                    <p class="ticket__info-date">Today: 1:34pm</p>
                                </div>
                            </li>
                            <li class="ticket">
                                <div class="ticket__status"></div>
                                <div class="ticket__info">
                                    <h4 class="ticket__info-title">Add authentication</h4>
                                    <p class="ticket__info-date">Today: 3:34pm</p>
                                </div>
                            </li>
                            <li class="ticket">
                                <div class="ticket__status"></div>
                                <div class="ticket__info">
                                    <h4 class="ticket__info-title">Finish TrackR</h4>
                                    <p class="ticket__info-date">6/23/2022</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card__ticket-footer">
                        <a href="#" class="card__ticket-link">Go to tickets</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include("./includes/footer.ejs")%>