<%- include("./includes/header.ejs")%>
</head>
<body>
    <main>
        <%- include("./includes/landing-nav.ejs")%>
        <div class="container centered">
            <h1 class="app__title">Track<span class="flipped">R</span></h1>
            <p class="app__desc">Keep track of your daily development tasks <br>
                get that satisfaction upon completeion
            </p>
            <div class="cta__wrapper-btns">
                <a href="#" class="btn btn__cta">Get Started</a>
                <a href="#" class="btn btn__alt" >Learn More</a>
            </div>
        </div>
        <div class="bubble bubble__primary bubble__pos-1"></div>
        <div class="bubble bubble__primary bubble__pos-2"></div>
        <div class="bubble bubble__alt bubble__pos-3"></div>
        <div class="bubble bubble__alt bubble__pos-4"></div>
    </main>
<%- include("./includes/footer.ejs")%>