<%- include("./includes/header.ejs")%>
<main>
    <%- include("./includes/navigation.ejs")%>
    <div class="container centered">
        <h1>Tracker</h1>
        <p>Keep track of your daily development tickets</p>
        <div class="cta__wrapper-btns">
            <a href="#" class="btn btn__cta">Get Started</a>
            <a href="#" class="btn btn__alt" >Learn More</a>
        </div>
    </div>
</main>
<%- include("./includes/footer.ejs")%>