@import "./navigations/landing-nav.css";
@import "./navigations/main-nav.css";
@import "./navigations/side-nav.css";
@import "./bubbles/bubbles.css";
@import "./cards/card.css";
@import "./dashboard/dashboard.css";
@import "./tickets/tickets.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--primary-bg);
	color: var(--primary-text);
	font-family: var(--primary-font);
}


#logo {
  color: var(--primary-text);
  font-size: 1.75rem;
  margin-right: 2rem;
}

.flipped {
  display: inline-block;
  transform: scale(-1, 1);
  color: var(--secondary-accent);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}


/* Main */
.container {
	min-width: 350px;
	width: 800px;
	height: 350px;
	text-align: center;
}

.centered {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.app__title {
  font-size: 4rem;
  letter-spacing: .35rem;
}

.app__desc {
  color: var(--color-grey);
  font-size: 1.2rem;
}


.cta__wrapper-btns {
	min-width: 350px;
	display: flex;
}







