@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root {
	--bg-light: #f8f8f7;
	--txt-primary: #181817;
	--txt-secondary: #666565;
	--highlight: #F0EFEB;
	--accent: #E85a1e;
	--primary-font: "Poppins", sans-serif;
	--color-red: #cc3022;
	--color-orange: #E8A742;
	--color-green: #2AA25F;
	--color-blue: #2281CC;
	--color-grey: #E5E5E5;
	--color-purple: #ae68e5;
	--color-yellow: #cfb452;
	--border-grey: #E1E1E1;
}
