@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root {
	--primary-bg: #1d1e26;
	--secondary-bg: #181820;
	--primary-accent: #fd8b8d;
	--secondary-accent: #fc76a1;
	--tertirary-accent: #ce6add;
	--button-alt: #30303d;
	--primary-text: #fcfcfc;
	--secondary-text: #b6b6b9;
	--color-orange: #c58c4c;
	--color-green: #3aa165;
	--color-blue: #70c4bf;
	--color-grey: #95959a;
	--color-purple: #ae68e5;
	--color-yellow: #cfb452;
	--primary-font: "Poppins", sans-serif;
}