@import "../variables.css";

/* form {
    width: 800px;
    min-width: 250px;
    margin: 0 auto;
} */

.form__control {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
}

.form__control label {
    width: 200px;
    margin-right: 20px;
    font-size: 1.25rem;
}

.search-bar {
    border: none;
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: var(--txt-primary);
    font-size: 1.25rem;
    outline: none;
}

.form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid var(--txt-primary);
}



.bx-search {
    margin: 5px;
    font-size: 1.25rem;

}