@import "../variables.css";

.ticket__category {
  color: var(--secondary-text);
}

.ticket {
  display: flex;
  align-items: center;
  width: 100%;
}

.ticket__link {
  text-decoration: none;
  color: var(--primary-text);
}

.ticket__item {
  background: #21212B;
  border: 2px solid #21212B;
  border-radius: .8rem;
  margin: 10px 0;
  transition: 250ms all ease-in;
  cursor: pointer;
}

.ticket__item:hover {
  transform: scale(1.05);
  opacity: .75;
  border: 2px solid var(--primary-accent)
}

.ticket__status {
  border-radius: 50%;
  border: 3px solid var(--secondary-accent);
  background: #20212C;
  width: 25px;
  height: 25px;
  margin: 10px 20px;
}

.ticket__info {
  padding: 10px;
}

.ticket__info-title {
  font-size: 1rem;
}

.ticket__info-date {
  color: #AD4D50;
  font-size: .75rem;
}

.ticket__controls {
  display: flex;
  align-items: center;
  width: 100%;
}

.ticket__controls-bordered {
  border: 2px dashed #2E2E37;
  border-radius: .8rem;
  padding: 10px;
  margin: 15px 0;
  color: var(--secondary-text);
  transition: ease-in-out all 250ms;
}

.ticket__controls-bordered:hover {
  transform: scale(1.05);
  border: 2px dashed var(--primary-accent);
}

.ticket__controls-back {
  color: var(--primary-text);
  background: #2E2E37;
  padding: 10px;
  border-radius: .8rem;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}



.ticket__controls-add {
  background: var(--primary-accent);
  color: #181820;
  padding: 5px;
  border-radius: .4rem;
  margin-right: 15px;
  font-size: 1.5rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.ticket__controls-add:hover,
.ticket__controls-back:hover{
  opacity: .75;
}

.ticket__controls-back i {
  font-size: 1.75rem;
}

.ticket__controls h3 {
  font-size: 2rem;
}

.ticket__detail {
  width: 800px;
  margin: 0 auto;
  border: 5px solid #21212B;
  border-radius: .8rem;
  padding: 20px;
}

.ticket__detail-title {
  font-size: 1.5rem;
  color: var(--secondary-text);
}

.ticket__detail-info {
  display: flex;
  align-items: center;
}

.ticket__detail-date {
  color: var(--color-green);
}

.ticket__detail-severity {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: var(--color-orange);
  border-radius: .4rem;
  padding: 5px 10px;
  font-size: .75rem;
  margin: 10px;
}

.ticket__detail-description {
  padding: 10px;
  background: #2E2E37;
  min-height: 300px;
  border-radius: .8rem;
}

.ticket__detail-btns {
  display: flex;
  align-items: center;
}

