@import "../variables.css";

.btn {
	padding: 15px 25px;
	background-color: var(--txt-primary);
	color: var(--bg-light);
	text-decoration: none;
	transition: ease-in-out 300ms all;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.75;
}

.btn-logout {
	display: block;
	margin: 0 auto;
}

.btn-back {
	font-size: 1.25rem;
	padding: 5px 10px;
	margin-right: 10px;
}
