.dashboard {
	min-width: 800px;
	margin: 0 auto;
}

.dashboard__admin {
	margin: 0 auto;
}

.dashboard-small {
	width: 800px;
}

.dashboard__title {
	font-size: 1.75rem;
	padding: 40px 0;
	color: var(--secondary-text);
}

.dashboard__greeting {
	font-size: 3.25rem;
	padding-bottom: 20px;
	text-transform: capitalize;
}

.dashboard__panel {
	min-height: 500px;
	width: 450px;
	margin: 10px;
}
