@import "../variables.css";

.tasks {
  display: flex;
  flex-wrap: wrap;
}

.tasks .card {
  margin: 10px;
}

.task-detail {
  max-width: 950px;
  min-height: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.task-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-size: 2rem;
}

.task-date {
  font-style: italic;
  font-size: 1rem;
  color: var(--txt-secondary);
}

.task-severity .badge {
  font-size: .95rem;
  padding: 3px 15px;
}

.task-description {
  margin: 10px 0;
  font-size: 1.15rem;
  min-height: 75px;
  max-width: 950px;
  overflow-wrap: break-word;
}

.task-images {
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.task-images img {
  max-width: 30%;
  min-width: 250px;
}

.task-btns {
  height: 75px;
  max-width: 950px
}

.task-uploads {
  font-size: .85rem;
  margin: 10px 0;
}

.task-uploads form {
  margin: 0;
  padding: 0;
}

.task-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-btns .btn {
  display: inline-block;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: transparent;
  margin: 0 1rem;
}

.tasks-all {
  border-color: var(--color-blue);
}

.tasks-progress {
  border-color: var(--color-orange);

}

.tasks-hold {
  border-color: var(--color-red);

}

.tasks-complete {
  border-color: var(--color-green);

}



