@import "../variables.css";



.task-column {
	height: 100%;
	margin: 1rem 0;
}

.task-column-header {
	margin-bottom: 1.75rem;
}

.task-detail {
  max-width: 950px;
  min-height: 500px;
  margin: 0 auto;
}

.task-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-title {
  font-size: 2rem;
  text-transform: capitalize;
}

.task-date,
.task-submission {
  font-style: italic;
  font-size: 1rem;
  color: var(--txt-secondary);
}

.task-description {
  margin: 1rem 0;
  font-size: 1.15rem;
  max-width: 950px;
  overflow-wrap: break-word;
}

.task-images {
  border-bottom: 1px solid var(--txt-secondary);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.task-images img {
  padding: .25rem;
  max-width: 300px;
  min-width: 80px;
  margin: .5rem 0;
}

.task-btns {
  height: 75px;
  max-width: 950px;
}

.task-uploads {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.task-edit-controls {
  display: flex;
  justify-content: space-between;
}

/* .task-uploads,
.task-controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
} */

.task-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-btns .btn {
  display: inline-block;
  padding: 10px 20px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: transparent;
  margin: 0 1rem;
}

.tasks-all {
  border-color: var(--color-blue);
}

.tasks-progress {
  border-color: var(--color-orange);

}

.tasks-hold {
  border-color: var(--color-red);

}

.tasks-complete {
  border-color: var(--color-green);

}

/* @media screen and (min-width: 375px) {
  .task-images img {
    max-width: 100px;
  }
}

@media screen and (min-width: 425px) {
  .task-images img {
    max-width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .task-images img {
    max-width: clamp(90px, 175px ,275px);
  }
} */

@media screen and (min-width: 800px) {
  .tasks-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .task-column {
    width: 100%;
    margin: 0 1%;
  }
}

@media screen and (min-width: 850px) {
  .task-column {
    width: 45%;
  }
}

@media screen and (min-width: 1440px) {
  .task-column {
    width: 20%;
  }
}


/* .task-date {
  font-style: italic;
  font-size: 1rem;
  color: var(--txt-secondary);
}

.task-description {
  margin: 1rem 0;
  font-size: 1.15rem;
  max-width: 950px;
  overflow-wrap: break-word;
}

.task-images {
  border-bottom: 1px solid var(--txt-secondary);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
} */


