@import "./navigation.css";

.nav__main {
	width: 100%;
	position: fixed;
	background: #20212c;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	z-index: 100;
	height: 60px;
}

#nav__menu {
	font-size: 2rem;
}

.nav__add-ticket {
	color: white;
	border-radius: 0.4rem;
	background: var(--secondary-accent);
	padding: 5px;
	font-size: 1.25rem;
    transition: ease-in-out all 300ms;
}

.nav__add-ticket:hover {
	color: var(--secondary-accent);
	background: var(--primary-text);
}


