@import "../variables.css";

.nav__split {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1rem 1.5rem;
}

.nav__section {
	display: flex;
	align-items: center;
}

.nav__section li {
	margin: 0 0.8rem;
	list-style: none;
}

.nav__section li a {
	text-decoration: none;
	color: #c6c6c8;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
    transition: ease-in-out all 300ms;
}

.nav__section li a:hover {
	color: var(--secondary-accent);
}

.nav__section i {
	font-size: 1.5rem;
	margin: 0 5px;
}