@import './navigation.css';

.nav__side {
	position: fixed;
	min-width: 100px;
	/* background: #20212C; */
	border-right: 2px solid var(--border-grey);
	width: 200px;
	height: 100vh;
	z-index: 99;
	display: none;
}

.nav__controls {
	height: 100vh;
	position: relative;
}

.logo {
	font-size: 1.75rem;
	padding: 10px;
}

.logo a {
	color: var(--accent);
}


.nav__side ul:first-of-type {
	margin-top: 50px;
}

.nav__side ul {
	padding: 0 20px;
}

.nav__side ul li {
	list-style: none;
	margin-bottom: 10px;
	margin: 50px 0;
}

.nav__side ul li a {
	text-decoration: none;
	color: var(--primary-text);
	font-size: 1.25rem;

	transition: all 300ms ease-in-out;
}

.nav__side ul li a:hover {
	color: var(--accent);
}

.nav__collections {
	height: 75%;
}

.nav__admin {
	height: 10%;
}

.nav-controls {
	position: absolute;
	bottom: 5%;
}

.nav-controls form {
	width: 200px;
}

@media screen and (min-width: 1024px) {
	.nav__side {
		display: block;
	}
}