@import "../variables.css";

.badge {
  text-align: center;
  text-transform: capitalize;
  min-width: 80px;
  padding: 3px 8px;
  background-color: var(--color-grey);
  color: var(--txt-secondary);
  display: inline-block;
  font-size: .75rem;
  color: var(--bg-light);
  margin: 1rem 0;
  transition: all 250ms ease-in-out;
  border-radius: .4rem;
}

.badge:hover {
  opacity: .85;
}

.badge-yellow {
  background-color: var(--color-yellow);
}

.badge-blue {
  background-color: var(--color-blue);
}

.badge-orange {
  background-color: var(--color-orange);
}

.badge-red {
  background-color: var(--color-red);
}

.badge-green {
  background-color: var(--color-green);
}