.admin-table{
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  /* margin-top: 50px; */
}

.admin-table th {
  text-align: left;
}

.admin-table th:first-child {
  padding: 10px;
}

.admin-table tr td {
  padding: 0 10px;
}

.admin-table tr:first-of-type {
  background: var(--txt-primary);
  color: var(--bg-light);
}

.admin-table tr {
  background: var(--bg-light);
}

.admin-table tr:nth-child(even) {
  background: var(--highlight);
}

.admin-controls {
  margin: 0 auto;
  width: 80%;
}